@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --red: #fa544d;
  --gray: #2e2e2e;
}

* {
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

.btn-login {
  background-color: var(--red); 
  color: #FFFFFF;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-weight: 700;
}

.btn-custom:login {
  background-color: var(--red);
  color: #FFFFFF;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content{
  flex-direction: column;
  gap: 36px;
}


.hero h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.hero p{
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn{
  display: flex;
  gap: 35px;
}

.hero-btn button{
  font-size: 20px;
}

.btn-show {
  background-color: var(--red); 
  color: #FFFFFF;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-weight: 700;
}


.secondary-btn{
  background: transparent;
  color: var(--gray);
  padding: 6px 16px;
  border-radius: 10px;
  border: 1px solid gray;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como teléfonos móviles */
  nav {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 16px;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .hero-content {
    text-align: center;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 72px;
  }

  .hero p {
    max-width: 100%;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
    gap: 35px;
  }
}
